mat-card {
  width: 650px;
  border: 1px solid #2c2c2c;
  border-radius: 0;
  padding: 25px 15px;

  mat-form-field {
    width: 100%;
  }

  mat-card-content {
    margin-bottom: 25px;
  }
}

h5 {
  font-size: 18px;
  font-weight: 500;
}

a {
  text-decoration: underline;
  font-weight: 500;
}
